body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
	list-style-type: none;
}

.studio-color {
    color: #2E2F42;
}

.studio-color-scd {
    color: #f4f4fd;
}

.webstudio {
    color:  #4d5ae5;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
}

.nav-ul {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #4D5AE5;
}

.address {
    color: #434455;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    background-color: #FFF;
    width: 100%;  
}

h1,h2,h3,h4,h5,h6 {
 color: #2E2F42;
 font-weight: 700;
 font-style: normal;
}

.hero {
    background-color: #2E2F42;
    width: 100%;
}

h1 {
    color: #FFF;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
}
.features {
    background-color: #FFF;
    width: 100%;

}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
.team {
    background-color: #F4F4FD;
    width: 100%;
    text-align: center;
}

.portfolio {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
    font-family: "Raleway", sans-serif;
    width: 100%;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.footer-slogan {
    color: #F4F4FD;
}